@font-face {
  font-family: 'eruda-icon';
  src: url('__ERUDA_ASSET_URL__eruda-icon.woff') format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
  display: inline-block;
  font-family: 'eruda-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: '\f101';
}
.icon-right:before {
  content: '\f102';
}
.icon-caret-down:before {
  content: '\f103';
}
.icon-caret-right:before {
  content: '\f104';
}
.icon-clear:before {
  content: '\f105';
}
.icon-compress:before {
  content: '\f106';
}
.icon-copy:before {
  content: '\f107';
}
.icon-delete:before {
  content: '\f108';
}
.icon-error:before {
  content: '\f109';
}
.icon-expand:before {
  content: '\f10a';
}
.icon-eye:before {
  content: '\f10b';
}
.icon-filter:before {
  content: '\f10c';
}
.icon-play:before {
  content: '\f10d';
}
.icon-record:before {
  content: '\f10e';
}
.icon-refresh:before {
  content: '\f10f';
}
.icon-reset:before {
  content: '\f110';
}
.icon-search:before {
  content: '\f111';
}
.icon-select:before {
  content: '\f112';
}
.icon-tool:before {
  content: '\f113';
}
.icon-warn:before {
  content: '\f114';
}
